# Maven target
target/
!.mvn/wrapper/maven-wrapper.jar

# IDEs
*.iml
*.iws
*.ipr
.idea/
*.classpath
*.project
.settings/

# VS Code
.vscode/

# Logs
*.log

# System
.DS_Store

# Compiled class files
*.class

# Package files
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar
